.centerSpread {
    display: flex;
    justify-content: space-between;
}

.leftPage {
    margin-left: 20px;
    align-self: auto;
    width: 200px;
}

.rightPage {
    margin-right: 20px;
    align-self: auto;
    width: 40%;
}