.centerSpread {
    display: flex;
    justify-content: space-between;
}

.leftPage {
    display: flex;
    margin-left: 20px;
    flex-basis: 350px;
    max-width: 450px;
    min-width: 400px;
}

.rightPage {
    display: flex;
    margin-right: 20px;
    align-self: auto;
    flex-basis: 350px;
    max-width: 450px;
    min-width: 400px;
}