.plus{
    margin-left: 10px;
    font-weight: bolder;
    font-size: 16px;
}

.spell__{

    &description{
    }
    
    &body{
        margin-left:30px;
        display: flex;
        flex-direction: column;
    }

    span{
        margin-bottom: 5px;
    }

    &header{
        margin-left: 30px;
        margin-bottom: 10px;
        font-weight: bolder;
        display: flex;
        flex-wrap: wrap;
    }
}